services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: hetzner-radiorachel
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - PORT=3000
    networks:
      - traefik

networks:
  traefik:
    external: true
